:root {
    --bg-color: #EDF5E1;
    --dark-accent: #05386B;
    --main: #379683;
    --light: #5CDB95;
    --lightest: #EDF5E1;
}


body {
    background-color: var(--bg-color);
}

#worldMap {
    margin: auto;
    fill: #379683;
    stroke: #379683;
    width: 100vw;
    height: 50vh;
    margin: auto;
    outline: 1px solid var(--light);
}

.landpath {

}

.landpath:hover {
    fill: var(--light);
    stroke: var(--light);
}

.dot {
    z-index: 10;
    fill: url(#grad);
    stroke: none;
}

.dot:hover {
    fill: orange;
}

.playbutton {
    padding: 20px;
    border-radius: 100px;
    background-color: var(--dark-accent);
    color: var(--bg-color);
    box-shadow: 2px 2px 2px var(--light);

}

.playbutton:focus {
    border: 0;
    outline: 0;
}

.controls {
    padding: 4rem;
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.timeline-container {
    width: 80%;
    display: flex;
    align-items: center;
}

#timeline {
    width: 80%;
    margin: auto;
}

@media only screen and (max-width: 1068px) {
   
}

@media only screen and (max-width: 735px) {
  #worldMap {
    height: 75vh;
  }
}
